.product_content{
    width: 100%;
    min-height: 1200px;
    background-color: white;
}
.product_container {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    margin-top: 90px;
}
.product-image{
    overflow: hidden;
    width: 400px;
    height: 470px;
    position: sticky; /* Đặt vị trí dính */
    top: 100px; 
    
}
.product-gallery {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.left{
    margin-left: -40px;
   
}
.product-gallery .main-image {
    width: 360px;
    height: 350px;
    border-radius: 5px;
    margin: 0 auto;
    border: #7e7e7e 1px dashed;
}
.main-image:hover{
   cursor: pointer;
}

.thumbnail-gallery {
    display: flex;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    width: 380px;
    border: 1px dashed #e1e1e1;
    overflow-x: scroll;
    height: 100px;
    padding: 0 20px;
     .thumbnail-gallery_item{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border: 1px solid #e1e1e1;
        cursor: pointer;
        border-radius: 10px;
        margin: auto 5px;
        img{
            width: 70px;
            height: 70px;
            object-fit:cover;
            border-radius: 10px;
            margin-top: -10px;
        }
        .tbnDelSubImg{
            background-color: red;
            border-radius: 3px;
            padding: 0 2px;
            border: none;
            color: white;
            font-size: 12px;
            position: relative;
            float: right;
            top: 13px;
         }
        
     }
   
}



.product-update-form_item{
    display: flex;
    div{
        width: 150px;
    }
    .input{
        width: 420px;
        height: 40px;
    }
} 

.info_product{
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 8px 14px #3c3c3cca;
    border: none;  
    h2{
       margin-left: 10px;
    }
    .info{
        li{
            display: flex;
            .name{
                width: 150px;
                height: 30px;
                padding: 5px;
                border-radius: 5px;
                border: 1px rgb(148, 139, 139) solid;
                margin: 0 5px;
            }
            .input{
                width: 350px;
                height: 30px;
                padding: 5px;
                border-radius: 5px;
                border: 1px rgb(148, 139, 139) solid;
            }
            button{
                background-color: red;
                color: white;
                height: 30px;
                margin-left: 8px;
                border: none;
                border-radius: 5px;
                padding: 0 5px;
            }
        }
    }
    button{
        margin-left: 10px;
    }
}
.dialog-color {
    position: absolute;
    margin: auto auto;
    width: 350px;
    min-height: 270px;
    height: auto;
    max-height: 500px;
    z-index: 12;
    
}
button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.dialog_color-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: block;
    height: 250px;
    box-shadow: 0 8px 12px #181717ca;
}
.dialog_color-content input{
    width: 280px;
    height: 30px;
    margin: 10px;
}
.dialog_color-content p{
    margin: 10px;
}
.btn{
    width: 100px;
    height: 20px;
    background-color: #7e7e7e;
    font-size: 15px;
    margin: 10px;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.btn-add_color{
    width: 100px;
    height: 30px;
    background-color: #38bde9;
    font-size: 15px;
    margin: 4px; 
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.btn-add_color:hover{
    background-color: #6baace;
    cursor: pointer;
}
.btnSubmit{
    width: 400px;
    height: 40px;
    margin: 10px ;
    margin-left: 50px;
}
.dialog-button{
    background-color: #7e7e7e;
    margin: 5px 5px;
    width: 70px;
    height: 20px;
}
.color-options{
    .color{
        border: #3586dd 1px solid;
    }
}

.product_option-action{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px;

    button{
        width: 130px;
        height: 30px;
        background-color: #56b2d0;
        border-radius: 5px;
        margin: 0 8px;
        border: none;
    }
    button:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    .closeButton{
        background-color: rgb(112, 112, 112);
        color: #e1e1e1;
    }
    .deleteButton{
        background-color: rgb(208, 38, 38);
        color: #e1e1e1;
    }
}

.btnSubmit{
    width: 300px;
    height: 40px;
    background-color: #3586dd;
    border-radius: 8px;
    border: none;
    margin: 10px auto;
    margin-left: 25%;
    color: white;
    font-size: 25px;
}
.btnSubmit:hover{
   cursor: pointer;
   opacity: 0.8;
}
.versionInfo_box{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    box-shadow: 1px 5px 4px #7e7e7e;
    border-radius: 8px;
    .versionCount{
        width: 120px;
        margin-left: 0;
    }
    .verisonName{
        width: 150px;
    }

}
.btnDel{
    height: auto;
    background-color: red;
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    margin-top: 10px;
}
.btnDel:hover{
    cursor: pointer;
   opacity: 0.8 ;
}
.btnadd{
    background-color: #72a4da;
    margin-top: -5px;
    margin-left: 5px;
}