


* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    min-width: 1024px;
}

a {
    text-decoration: none;
}



section {
    max-width: 1205px;
    margin: 0 auto;
}


.flexContain {
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

button{
    border: none;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}


.pagination{
   
    margin: 20px auto;
    width: 120px;
    margin-bottom: 0;
}